html,
body {
    width: 99%;
}

.container {
    height: 100svh;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.livro {
    transform-style: preserve-3d;
    height: 300px;
    background-color: aqua;
    position: relative;
    
}
.frente, .tras,.pag1,.pag2,.pag3 {
    width: 200px;
    height: 100%;
    transform-style: preserve-3d;
    position: absolute;
    transform-origin: left center;
    transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.frente {
    background-color: red;
}

.pag1 {
    background-color: gray;
}

.pag2 {
    background-color: rgb(0, 255, 157);
}
.pag3 {
    background-color: gray;
}

.tras{
    background-color: blueviolet;
}




.livro:hover .frente{
    background-color: black;
    transform: rotateY(-180deg) scale(1.5);
}

.livro:hover .pag1{
    background-color: rgb(109, 65, 65);
    transform: rotateY(-160deg) scale(1.5);
}

.livro:hover .pag2{
    background-color: rgb(192, 22, 107);
    transform: rotateY(-150deg) scale(1.5);
}

.livro:hover .pag3{
    background-color: black;
    transform: rotateY(-35deg) scale(1.5);
}

.livro:hover .tras{
    background-color: rgb(255, 0, 0);
    transform: rotateY(-30deg) scale(1.5);    
}

